/**Feeling too lazy to write my own css rules but I cant't work without my own custom styles**/
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root{
  /**Mostly color variables**/
  --white-color: #fff;
  --bg-green-color: rgb(217, 244, 244);
  --lighter-green-color: rgb(0, 243, 241);
  --light-green-color: rgb(4, 195, 193);
  --dark-green-color: rgb(1, 28, 28);
  --black-color: rgb(20, 19, 19);
  --light-grey-color: rgb(115, 130, 130);
  --light-bg: #024b3fa7;
}
/**Fonts**/
@font-face {
  font-family: poppins;
  src: url('./assets/fonts/poppins-v20-latin-regular.woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: poppins;
  src: url('./assets/fonts/poppins-v20-latin-500.woff2');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: poppins;
  src: url('./assets/fonts/poppins-v20-latin-700.woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: poppins;
  src: url('./assets/fonts/poppins-v20-latin-700italic.woff2');
  font-weight: bold;
  font-style: italic;
}
body {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  width: 100%;
  background: var(--bg-green-color);
}
.section{
  width: 100%;
  padding: 20px 40px;
  margin: 10px auto;
}
h1{
  font-size: 2.5em;
}
h2{
  font-size: 2.5em;
  font-weight: normal;
}
a{
  text-decoration: none;
  cursor: pointer;
  color: var(--light-green-color);
}
a:hover{
  color: var(--lighter-green-color);
}
button{
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 1em;
  font-weight: bold;
  margin: 0px auto;
  cursor: pointer;
  transition: 1s;
}
.click-button{
  background: var(--light-green-color);
  color: var(--white-color);
}
.click-button:hover{
  background: var(--lighter-green-color);
  color: var(--black-color);
}
.point-button{
  background: transparent;
  border: 2px solid var(--light-green-color);
  color: var(--white-color);
}
.point-button:hover{
  border: 2px solid var(--white-color);
}
.border-button{
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 1em;
  font-weight: bold;
  margin: 0px auto;
  cursor: pointer;
  transition: 1s;
}
.hero-banner{
  height: 500px;
  width: 100%;
  position: relative;
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
}
.hero-banner .heading{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
  /* right: 40%; */
}
.hero-banner .heading h1{
  font-size: 3em;
  font-weight: bold;
  color: var(--white-color);
}
.inverted{
  position: absolute;
  top: 120px;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
}
.inverted-text{
  flex: 1;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-weight: bold;
  cursor: pointer;
  color: var(--white-color);
  transition: 1s;
}
.inverted-text:hover{
  color: var(--lighter-green-color);
}
.header{
  width: 100%;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background: transparent; 
  top: 0px;
  position: fixed;
  z-index: 2;
}
.header.scrolled{
  background: var(--dark-green-color);
  transition: 1s ease-in-out;
}
.header .left{
  align-self: center;
}
.header .left img.logo{
  width: 150px;
  height: 30px;
}
.header .right{
  margin: 0px 5px;
  margin-left: auto;
  padding: 10px;
  align-self: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
.header .right .navlink{
  font-weight: bold;
  color: var(--lighter-green-color);
  font-size: 1em;
  text-decoration: none;
  text-transform: uppercase;
  /* margin: 0px 15px; */
}
.header .right .navlink:hover{
  color: var(--white-color);
}
.header .right .navlink.active{
  color: var(--white-color);
  text-transform: underline;
}
.mobile-nav{
  display: none;
}
.navbutton{
  display: none
}
.slider-cont{
  margin: -350px auto 10px auto;
  position: relative;
  width: 90%;
  height: 500px;
  overflow: hidden;
}
.slide{
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  border: 1px solid var(--light-green-color);
  opacity: 0;
  transition: all 0.7s ease-in-out;
  clip-path: polygon(0 0, 90% 0, 100% 10%, 100% 100%, 0 100%);
}
/* Show the active slide */
.slide.active{
  left: 0;
  opacity: 1;
}
.overlay{
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 70px;
}
.content{
  color: var(--white-color);
  max-width: 500px;
}
.content h2{
  font-size: 2.8em;
  margin-bottom: 15px;
  line-height: 120%
}
.content p{
  margin-bottom: 20px;
  font-size: 1em;
  line-height: 1.5;
}
.content .button{
  padding: 5px 10px;
  background: var(--light-green-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
/* Navigation buttons */
.prev,
.next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.6);
  color: var(--white-color);
  border: none;
  font-size: 2rem;
  padding: 5px;
  cursor: pointer;
  border-radius: 50%;
}
.prev{ left: 20px; }
.next{ right: 20px; }
/**** End of Slider Container ****/

.test-slider-container{
  position: relative;
  width: 90%;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 12px;
}
.test-slider-track{
  display: flex;
  transition: transform 0.6s ease-in-out;
}
.test-slide{
  flex: 0 0 calc(100% / 3); /* default for desktop */
  padding: 0 5px; /* small spacing between images */
}
.test-slide img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
}
.test-slider-container .button{
  padding: 5px 10px;
  background: var(--light-green-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
/* Responsive: show 1 image at a time on mobile */
@media (max-width: 1023px) {
  .img-slide {
    flex: 0 0 100%;
  }
}

.stat-cont{
  width: 100%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 20px;
}
.stat-cont .stat{
  flex: 1 200px;
  align-self: sretch;
  /* padding: 30px; */
  text-align: left;
  gap: 15px;
}
.stat-cont .stat h2{
  font-size: 2.2em;
  font-weight: bold;
  margin: 5px 0px;
}
.stat-cont .stat h4{
  font-size: 1.5em;
  font-weight: bold;
  margin: 5px 0px;
}
.stat-cont .stat p{
  font-size: 0.9em;
  font-weight: normal;
  margin-bottom: 10px;
}
.fcss-cont{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
}
.fcss-cont .fcss{
  text-align: left;
  flex: 2 500px;
  max-width: 600px;
  margin-right: auto; 
  align-self: center;
  padding: 20px 0px;
}
ul{
  list-style-type: square;
  list-style-position: inside;
  margin: 10px auto;
}
li{
  margin: 10px auto;
}
.portfolio-cont{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.portfolio-cont .portfolio{
  flex: 1 350px;
  align-self: stretch;
  padding: 20px;
  text-align: left;
}
.portfolio-cont .portfolio h2{
  font-size: 2em;
  margin: 10px 0px;
  color: var(--light-green-color);
}
.portfolio-cont .portfolio p{
  font-size: 0.9em;
  margin: 5px 0px;
  color: var(--black-color);
}
.portfolio-cont img{
  flex: 1 200px;
  align-self: stretch; 
  height: 300px;
  width: 100%;
}
.double-cont{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  gap: 20px;
  margin: 20px auto;
}
.double-cont .item{
  flex: 1 400px;
  align-self: stretch;
  padding: 10px;
}
.double-cont .item img{
  width: 100%;
  height: 400px;
  border-radius: 10px;
  border: 1px solid var(--light-green-color);
  clip-path: polygon(0 0, 90% 0, 100% 10%, 100% 100%, 0 100%);
}
.double-cont .item p{
  font-size: 1em;
  margin: 5px auto;
  line-height: 200%;
}
/********** Text Container *********/
.text-cont{
  width: 800px;
  display: block;
  margin: 10px auto;
  color: var(--black-color)
}
.text-cont h2{
  margin: 10px auto;
  font-weight: normal;
  font-size: 2.5em;
  text-align: left;
}
.text-cont p{
  line-height: 200%;
  text-align: left;
}
/******** Contact form *********/
.contact-form{
  width: 100%;
  padding: 20px;
  display: block;
  margin: 10px auto;

}
label{
  text-align: left;
  margin-top: 5px auto;
}
input, select{
  width: 100%;
  padding: 15px 10px;
  color: var(--dark-green-color);
  font-size: 1em;
  border: 1px solid var(--dark-green-color);
  background: transparent;
  margin-bottom: 5px auto
}
textarea{
  width: 100%;
  padding: 15px 10px;
  color: var(--dark-green-color);
  font-size: 1em;
  border: 1px solid var(--dark-green-color);
  background: transparent;
  margin-bottom: 5px auto
}
input:focus, select:focus, textarea:focus{
  outline: 1px solid var(--dark-green-color)
}
/********** Footer ************/
.footer{
  width: 100%;
  background: var(--dark-green-color);
  position: relative;
}
.footer p{
  color: var(--white-color);
  font-size: 0.9em;
  line-height: 180%;
  margin: 5px auto;
}
.footer h2{
  color: var(--white-color);
  font-size: 1.5em;
  line-height: 180%;
}
.footer a{
  color: var(--lighter-green-color);
  font-size: 0.9em;
}
.footer .top{
  background: transparent;
  /* border: none; */
  border-bottom: 1px solid var(--light-grey-color);
  border-bottom-width: 1px;
  margin: 0px auto 10px auto;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .top .left{
  flex: 2;
  align-self: center;
}
.footer .top .left img.logo{
  width: 150px;
  height: 30px;
}
.footer .top .right{
  margin-left: auto;
  align-self: center;
}
.footer .center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 15px 30px;
}
.footer .center .item1{
  flex: 2 300px;
  align-self: stretch;
}
.footer .center .item2{
  flex: 1 150px;
  align-self: stretch;
  margin: 0px 10px;
  text-align: center;
}
.footer .bottom{
  background-color: var(--black-color);
  padding: 5px;
  text-align: center;
  width: 100%;
  /* position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px; */
}
@media (max-width: 500px) {
  h2{
    font-size: 1.8em;
    font-weight: normal;
  }
  .section{
    padding: 20px;
  }
  .header .right .navlink{
    display: none;
  }
  .fcss-cont .fcss{
    margin-right: 0px; 
  }
  .test-slide {
    flex: 0 0 calc(100% / 1); 
    width: 100%;
    padding: 0 5px; 
  }
  .hero-banner{
    background-size: 100%;
  }
  .hero-banner .heading{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
  .hero-banner .heading h1{
    text-align: center;
    font-size: 2em;
  }
  .double-cont .item img{
    width: 100%;
    height: 300px;
    border-radius: 20px;
    clip-path: none;
  }
  .stat{
      padding: 10px;
  } 
  .text-cont{
    width: 100%;
  }
  .portfolio,img{
    width: 100%;
  }
  .mobile-nav{
    position: fixed;
    display: block;
    padding: 50px 20px;
    width: 90%;
    height: 100%;
    top: 300px;
    right: -100%;
    background: var(--dark-green-color);
    color: var(--white-color);
    text-align: left;
    z-index: 3;
    transition: ease-in-out;
  }
  .mobile-nav .section{
    margin: 10% auto;
  }
  .mobile-nav a{
    margin: 10px;
    display: block;
    font-size: 1.5em;
    color: var(--white-color);
  }
  .navbutton{
    display: block;
    font-size: 1.5em;
    color: var(--white-color);
    align-self: center;
  }
  .mobile-nav .cancel{
    right: 20px;
    top: 20px;
    font-size: 2.5em;
    color: var(--white-color);
    background: var(--light-bg);
    border-radius: 50%;
    padding: 7px;
  }
  .mobile-nav .button{
    width: 100%;
    margin: 20px auto;
    font-size: 1.5em;
  }
  .mobile-nav.active{
    top: 0px;
    right: 0px;
    transition: 1s ease-in;
  }
  .portfolio-cont img{
    flex: 1 350px;
    align-self: stretch; 
    height: 350px;
    width: 100%;
  }
}